@media (min-width: @screen-md-min) {

  //
  // Основное
  // --------------------------------------------------
  html {
    font-size: 90%;
  }



  //
  // Заголовок
  // --------------------------------------------------

  .head
  {
    &__logo
    {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}
