@media (min-width: @screen-md-min) {

  //
  // Основное
  // --------------------------------------------------
  html {
    font-size: 90%;
  }



  //
  // Заголовок
  // --------------------------------------------------

  .head
  {
    &__logo
    {
      position: absolute;
      left: 15px;
      top: 0;
    }
  }



  //
  // Результаты
  // --------------------------------------------------

  .result
  {
    &__desc
    {
      font-size: @result-base-font-size;
    }
    &__more
    {
      font-size: @result-base-font-size;
    }
    &__inner
    {
      height: 342px;
    }
  }
  
  
  //
  // Вы получите
  // --------------------------------------------------
  .youget {
    &__title
    {
      padding-left: @youget-md-padding;
      padding-right: @youget-md-padding;
    }
  }
}