//
// Основное
// --------------------------------------------------

html
{
  font-size: 75%;
}

.btn
{
  .button-size(11px; 34px; @font-size-base; @line-height-base; @btn-border-radius-base);
}



//
// Заголовок
// --------------------------------------------------

.head
{
  padding-top: 30px;
  padding-bottom: 55px;

  background-color: @brand-primary;
  background-image: url(../img/header__background.jpg);
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: cover;
  &__container
  {
    position: relative;

    width: auto;
    max-width: 1355px;
  }
  &__logo
  {
    text-align: center;
    > span
    {
      font-size: 23px;
      font-weight: 500;

      display: inline-block;

      color: #fff;
      border-bottom: 3px solid #fff;
    }
  }
  &__desc
  {
    max-width: 645px;
    margin: 25px auto 0;

    text-align: center;

    color: #fff;
  }
  &__action
  {
    margin-top: 30px;

    text-align: center;
  }
}



.h-nav
{
  text-align: center;
  > .h-nav__item
  {
    display: inline-block;
    > a
    {
      position: relative;

      display: block;

      padding: @nav-link-padding;

      text-transform: uppercase;

      color: #818288;
      &:hover,
      &:focus
      {
        color: #fff;
        background-color: transparent;
      }
    }
    &_active > a
    {
      color: #fff;
      background-color: transparent;
    }
  }
}



h1
{
  font-size: 2.1875rem;
  line-height: 1.2;

  margin-top: 27px;

  text-align: center;

  color: #fff;
  > span
  {
    color: @brand-primary;
  }
}

h2
{
  font-size: 2.1875rem;

  margin-top: 0;
  margin-bottom: 0;

  text-align: center;

  color: #313d49;
}



//
// Как это работает
// --------------------------------------------------

.how
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;
  &__row
  {
    margin-top: 4.0625rem;
  }
  &__ico
  {
    margin: 0 auto;

    border-radius: @how-ico-round;
    background-color: @how-ico-bg;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.375rem;

    .square(@how-ico-size);
    &:hover
    {
      background-color: @how-ico-hover-bg;
    }
    &_smile
    {
      background-image: url(../img/how__ico-smile.png);
    }
    &_tube
    {
      background-image: url(../img/how__ico-tube.png);
    }
    &_doc
    {
      background-image: url(../img/how__ico-doc.png);
    }
  }
  &__title
  {
    font-size: 1.0625rem;

    margin-top: 1.6875rem;

    text-align: center;

    color: #313d49;
  }
  &__inner
  {
    max-width: 360px;
    margin: 0 auto;
  }
  &__item
  {
    & + &
    {
      margin-top: 35px;
    }
  }
  &__action
  {
    margin-top: 30px;

    text-align: center;
  }
}



//
// Кому подойдёт
// --------------------------------------------------

.who
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom / 2;

  background-color: #eeeef2;
  &__row
  {
    margin-top: 4.0625rem;
  }
  &__item
  {
    height: 115px;
  }
  &__ico
  {
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    .size(5rem, 3.5625rem);
    &_phone
    {
      background-image: url(../img/who__ico-phone.png);
    }
    &_cloud
    {
      background-image: url(../img/who__ico-cloud.png);
    }
    &_taxi
    {
      background-image: url(../img/who__ico-taxi.png);
    }
    &_percent
    {
      background-image: url(../img/who__ico-percent.png);
    }
    &_truck
    {
      background-image: url(../img/who__ico-truck.png);
    }
    &_query
    {
      background-image: url(../img/how__ico-doc.png);
    }
  }
  &__title
  {
    font-size: 1.0625rem;
    line-height: 1.25;

    margin-top: 12px;

    text-align: center;
  }
}



//
// Результаты
// --------------------------------------------------

.result
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;

  background-color: @brand-primary;
  &__row
  {
    margin-top: 3.75rem;
  }
  h2
  {
    color: #fff;
  }
  &__item
  {
    margin-bottom: 2.3125rem;
  }
  &__inner
  {
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 1.5rem;
    max-width: 360px;
    margin: auto;
  }
  &__logo
  {
    height: 6.5625rem;

    border-bottom: 1px solid #e7e7e7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17rem 5.3125rem;
    &_uber
    {
      background-image: url(../img/result__logo-uber.jpg);
    }
    &_sber
    {
      background-image: url(../img/result__logo-sber.jpg);
    }
    &_mnogo
    {
      background-image: url(../img/result__logo-mnogo.jpg);
    }
    &_admitad
    {
      background-image: url(../img/result__logo-admitad.jpg);
    }
    &_taxi
    {
      background-image: url(../img/result__logo-gettaxi.jpg);
    }
    &_netologia
    {
      background-image: url(../img/result__logo-netologia.jpg);
    }
  }
  &__title
  {
    margin-top: @result-base-margin;
    padding-left: @result-base-padding;
    padding-right: @result-base-padding;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
  }
  &__desc
  {
    margin-top: @result-base-margin;
    padding-left: @result-base-padding;
    padding-right: @result-base-padding;
    color: #7c8185;
  }
  &__tool
  {
    margin-top: @result-base-margin;
    padding-left: @result-base-padding;
    padding-right: @result-base-padding;
  }
  &__more
  {
    text-transform: uppercase;
  }
}
