//
// Основное
// --------------------------------------------------

html
{
  font-size: 75%;
}

.btn
{
  .button-size(11px; 34px; @font-size-base; @line-height-base; @btn-border-radius-base);
}



//
// Заголовок
// --------------------------------------------------

.head
{
  padding-top: 30px;
  padding-bottom: 55px;

  background-color: @brand-primary;
  background-image: url(../img/header__background.jpg);
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: cover;
  &__container
  {
    position: relative;

    width: auto;
    max-width: 1355px;
  }
  &__logo
  {
    text-align: center;
    > span
    {
      font-size: 23px;
      font-weight: 500;

      display: inline-block;

      color: #fff;
      border-bottom: 3px solid #fff;
    }
  }
  &__desc
  {
    font-size: 1.0625rem;
    max-width: 645px;
    margin: 25px auto 0;

    text-align: center;

    color: #fff;
  }
  &__action
  {
    margin-top: 30px;

    text-align: center;
  }
}



.h-nav
{
  text-align: center;
  > .h-nav__item
  {
    display: inline-block;
    > a
    {
      position: relative;

      display: block;

      padding: @nav-link-padding;

      text-transform: uppercase;

      color: #818288;
      &:hover,
      &:focus
      {
        color: #fff;
        background-color: transparent;
      }
    }
    &_active > a
    {
      color: #fff;
      background-color: transparent;
    }
  }
}



h1
{
  font-size: 2.1875rem;
  line-height: 1.2;

  margin-top: 27px;

  text-align: center;

  color: #fff;
  > span
  {
    color: @brand-primary;
  }
}

h2
{
  font-size: 2.1875rem;

  margin-top: 0;
  margin-bottom: 0;

  text-align: center;

  color: #313d49;
}



//
// Как это работает
// --------------------------------------------------

.how
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;
  &__row
  {
    margin-top: 4.0625rem;
  }
  &__ico
  {
    margin: 0 auto;

    border-radius: @how-ico-round;
    background-color: @how-ico-bg;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.375rem;

    .square(@how-ico-size);
    &:hover
    {
      background-color: @how-ico-hover-bg;
    }
    &_smile
    {
      background-image: url(../img/how__ico-smile.png);
    }
    &_tube
    {
      background-image: url(../img/how__ico-tube.png);
    }
    &_doc
    {
      background-image: url(../img/how__ico-doc.png);
    }
  }
  &__title
  {
    font-size: 1.0625rem;

    margin-top: 1.6875rem;

    text-align: center;

    color: #313d49;
  }
  &__inner
  {
    max-width: 360px;
    margin: 0 auto;
  }
  &__item
  {
    & + &
    {
      margin-top: 35px;
    }
  }
  &__action
  {
    margin-top: 30px;

    text-align: center;
  }
}



//
// Кому подойдёт
// --------------------------------------------------

.who
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom / 2;

  background-color: #eeeef2;
  &__row
  {
    margin-top: 4.0625rem;
  }
  &__item
  {
    height: 115px;
  }
  &__ico
  {
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    .size(5rem, 3.5625rem);
    &_phone
    {
      background-image: url(../img/who__ico-phone.png);
    }
    &_cloud
    {
      background-image: url(../img/who__ico-cloud.png);
    }
    &_taxi
    {
      background-image: url(../img/who__ico-taxi.png);
    }
    &_percent
    {
      background-image: url(../img/who__ico-percent.png);
    }
    &_truck
    {
      background-image: url(../img/who__ico-truck.png);
    }
    &_query
    {
      background-image: url(../img/how__ico-doc.png);
    }
  }
  &__title
  {
    font-size: 1.0625rem;
    line-height: 1.25;

    margin-top: 12px;

    text-align: center;
  }
}



//
// Результаты
// --------------------------------------------------

.result
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;

  background-color: @brand-primary;
  &__row
  {
    margin-top: 3.75rem;
  }

  /* Слайдер*/
  &__slider
  {
    margin-bottom: 2.3125rem;
  }
  .swiper-container-horizontal > .swiper-pagination 
  {
    bottom: auto;
    left: 0;
    right: 0;
    top: 25px;
  }
  .swiper-container
  {
    padding-top: 5.75rem;
  }
  .swiper-slide
  {
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper-pagination-bullet-active
  {
    background: #fff; 
  }
  .swiper-button-prev,
  .swiper-button-next
  {
    .size(20px, 30px);
    background-size: 10px 15px;
    background-repeat: no-repeat;
    margin-top: 0;
    top: 19px;
  }
  .swiper-button-prev
  {
    left: 0px;
    background-position: left center;
    background-image: url(../img/slider-prev.png);
  }
  .swiper-button-next
  {
    right: 0px;
    background-position: right center;
    background-image: url(../img/slider-next.png);
  }
  .swiper-button-wrap
  {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper-button-inner
  {
    position: relative;
    max-width: 360px;
    margin: auto;
  }
  /* END <-- Слайдер */

  h2
  {
    color: #fff;
  }
  &__item
  {
    margin-bottom: 2.3125rem;
  }
  &__inner
  {
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 1.5rem;
    max-width: 360px;
    margin: auto;
  }
  &__logo
  {
    height: 6.5625rem;

    border-bottom: 1px solid #e7e7e7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17rem 5.3125rem;
    &_uber
    {
      background-image: url(../img/result__logo-uber.jpg);
    }
    &_sber
    {
      background-image: url(../img/result__logo-sber.jpg);
    }
    &_mnogo
    {
      background-image: url(../img/result__logo-mnogo.jpg);
    }
    &_admitad
    {
      background-image: url(../img/result__logo-admitad.jpg);
    }
    &_taxi
    {
      background-image: url(../img/result__logo-gettaxi.jpg);
    }
    &_netologia
    {
      background-image: url(../img/result__logo-netologia.jpg);
    }
  }
  &__title
  {
    margin-top: @result-base-margin;
    padding-left: @result-base-padding;
    padding-right: @result-base-padding;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
  }
  &__desc
  {
    margin-top: @result-base-margin;
    padding-left: @result-base-padding;
    padding-right: @result-base-padding;
    color: #7c8185;
  }
  &__tool
  {
    margin-top: @result-base-margin;
    padding-left: @result-base-padding;
    padding-right: @result-base-padding;
  }
  &__more
  {
    text-transform: uppercase;
    font-weight: 500;
  }
  &__action
  {
    text-align: center;

    .btn-trans
    {
      margin-top: 15px;
    }
  }
}



//
// Вы получите
// --------------------------------------------------

.youget
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;

  background-color: @brand-primary;
  &__row
  {
    margin-top: 6.25rem;
  }

  /* Слайдер*/
  &__slider
  {
    margin-bottom: 2.3125rem;
  }
  .swiper-container-horizontal > .swiper-pagination 
  {
    bottom: auto;
    left: 0;
    right: 0;
    top: 30px;
  }
  .swiper-container
  {
    padding-top: 6.5rem;
  }
  .swiper-slide
  {
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper-pagination-bullet-active
  {
    background: #fff; 
  }
  .swiper-button-prev,
  .swiper-button-next
  {
    .size(20px, 30px);
    background-size: 10px 15px;
    background-repeat: no-repeat;
    margin-top: 0;
    top: 24px;
  }
  .swiper-button-prev
  {
    left: 0px;
    background-position: left center;
    background-image: url(../img/slider-prev.png);
  }
  .swiper-button-next
  {
    right: 0px;
    background-position: right center;
    background-image: url(../img/slider-next.png);
  }
  .swiper-button-wrap
  {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .swiper-button-inner
  {
    position: relative;
    max-width: 360px;
    margin: auto;
  }
  /* END <-- Слайдер */

  h2
  {
    color: #fff;
  }
  &__inner
  {
    max-width: 360px;
    margin: auto;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: 156px 86px;
    &_cashback {
      background-image: url(../img/result__ico-cashback.png);
    }
    &_twotree {
      background-image: url(../img/result__ico-twortree.png);
    }
    &_boosting {
      background-image: url(../img/result__ico-grafik.png);
    }
  }
  &__title
  {
    margin-top: @result-base-margin;
    padding-left: @youget-base-padding;
    padding-right: @youget-base-padding;
    font-size: 16px;
    line-height: 1.2;
    color: #cad0ff;
    text-align: center; 
    b {
      color: #fff;
      font-weight: 500; 
    }
  }
  &__action
  {
    margin-top: 4.25rem;
    text-align: center;
  }
}



//
// Кнопки
// --------------------------------------------------

.btn-white 
{
  .button-variant(@brand-primary; #fff; #fff);
}

.btn-trans 
{
  .button-variant(#fff; transparent; #fff);
}

.btn-contrast
{
  .button-variant(#1b1f38; #fff; #fff);
}



//
// Тариф
// --------------------------------------------------

.tarif
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;
  
  background: #1b1f38;
  color: #fff;

  &__row
  {
    margin-top: 3.75rem;
  }
  h2 
  {
    color: #fff;
  }
  &__item
  {
    & + &
    {
      margin-top: 20px;
    }

    &_simple .tarif__title
    {
      color: #a3ff6b;
    }

    &_advanced .tarif__title
    {
      color: #f8ec33;
    }

    &_premium .tarif__title
    {
      color: #ff6666;
    }
  }
  &__inner
  {
    border-radius: 4px;
    border: 1px solid #41455a;
    padding-bottom: 2.125rem;
    max-width: 360px;
    margin: auto;
    position: relative;

    &:hover
    {
      border-color: #fff;
      .tarif__title
      {
        border-color: #fff;
      }
      // .btn-contrast
      // {
      //   background-color: #e6e6e6;
      //   border-color: #e0e0e0;
      // }
    }
  }
  &__title
  {
    font-weight: 500;
    padding: 1.6rem 0;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #41455a;
    margin: 0 15px;
  }
  &__list
  {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none; 
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  &__param
  {
    padding: 0.5rem 15px;
  }
  &__tool
  {
    text-align: center;
  }
}



//
// СМИ о нас
// --------------------------------------------------

.smi
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;

  background-color: #eeeef2;
  
  &__row
  {
    margin-top: 3.75rem;
  }

  &__item
  {
    font-size: 1.125rem;

    &+&
    {
      margin-top: 24px;
    }
  }

  &__inner
  {
    border-left: 1px solid #e1d4d5;
    padding-left: 0.9375rem;
    padding-top: 2.4375rem;
    background-image: url(../img/say__quote.png);
    background-repeat: no-repeat;
    background-size: 20px 14px;
    background-position: 0.9375rem 0;
  } 

  &__name
  {
    display: inline-block;
    margin-top: 12px;
  }
}



//
// Контакты
// --------------------------------------------------

.contacts
{
  padding-top: @sector-padding-top;
  padding-bottom: @sector-padding-bottom;
  color: #262e37;
  
  &__container
  {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 730px;
  }

  &__row
  {
    margin-top: 3.75rem;
  }

  &__title
  {
    font-size: 1.0625rem;
    text-align: center;
    color: #8e959c;
  }
  
  &__email,
  &__tel
  {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
  }

  &__col:last-child
  {
    margin-top: 20px;
  }

  &__footer
  {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 3.125rem;
    color: #b7b7b7;
  }
}



//
// Форма 
// --------------------------------------------------

.form
{
  margin-top: 3.125rem;
  border-top: 1px solid #e9e9e9;
  padding-top: 1.875rem;
  text-align: center;

  &__form
  {
    max-width: 360px;
    margin: auto;
  }

  &__title
  {
    text-align: center;
    font-size: 1.0625rem;
    color: #8e959c;
  }

  label
  {
    font-size: 1.0625rem;
    font-weight: 400;
  }

  .form-group
  {
    margin: 1.375rem 0;
  }

  &__action
  {
    margin-top: 2.1875rem;
  }
  
  &__error,
  &__success
  {
    font-size: 1.0625rem;
    display:none;
  }
}



//
// Ретина
// --------------------------------------------------

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  


  //
  // Заголовок
  // --------------------------------------------------

  .head
  {
    background-image: url(../img/header__background@2x.jpg);
  }



  //
  // Как это работает
  // --------------------------------------------------

  .how
  {
    &__ico
    {
      &_smile
      {
        background-image: url(../img/how__ico-smile@2x.png);
      }
      &_tube
      {
        background-image: url(../img/how__ico-tube@2x.png);
      }
      &_doc
      {
        background-image: url(../img/how__ico-doc@2x.png);
      }
    }
  }



  //
  // Кому подойдёт
  // --------------------------------------------------

  .who
  {
    &__ico
    {
      &_phone
      {
        background-image: url(../img/who__ico-phone@2x.png);
      }
      &_cloud
      {
        background-image: url(../img/who__ico-cloud@2x.png);
      }
      &_taxi
      {
        background-image: url(../img/who__ico-taxi@2x.png);
      }
      &_percent
      {
        background-image: url(../img/who__ico-percent@2x.png);
      }
      &_truck
      {
        background-image: url(../img/who__ico-truck@2x.png);
      }
      &_query
      {
        background-image: url(../img/how__ico-doc@2x.png);
      }
    }
  }



  //
  // Результаты
  // --------------------------------------------------

  .result
  {
    .swiper-button-prev
    {
      background-image: url(../img/slider-prev@2x.png);
    }
    .swiper-button-next
    {
      background-image: url(../img/slider-next@2x.png);
    }
    &__logo
    {
      &_uber
      {
        background-image: url(../img/result__logo-uber@2x.jpg);
      }
      &_sber
      {
        background-image: url(../img/result__logo-sber@2x.jpg);
      }
      &_mnogo
      {
        background-image: url(../img/result__logo-mnogo@2x.jpg);
      }
      &_admitad
      {
        background-image: url(../img/result__logo-admitad@2x.jpg);
      }
      &_taxi
      {
        background-image: url(../img/result__logo-gettaxi@2x.jpg);
      }
      &_netologia
      {
        background-image: url(../img/result__logo-netologia@2x.jpg);
      }
    }
  }



  //
  // СМИ о нас
  // --------------------------------------------------

  .smi
  {
    &__inner
    {
      background-image: url(../img/say__quote@2x.png);
    }
  }
}