html {
  font-size: 75%;
}
.head {
  padding-top: 30px;
  padding-bottom: 55px;
  background-color: #6173f4;
  background-image: url(../img/header__background.jpg);
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: cover;
}
.head__container {
  position: relative;
}
.head__logo {
  text-align: center;
}
.head__logo > span {
  font-size: 23px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  border-bottom: 3px solid #fff;
}
.head__desc {
  max-width: 645px;
  margin: 25px auto 0;
  text-align: center;
  color: #fff;
}
.head__action {
  margin-top: 30px;
  text-align: center;
}
.head__nav {
  text-align: center;
}
.head__nav > li {
  display: inline-block;
}
.head__nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #818288;
}
.head__nav > li > a:hover,
.head__nav > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
h1 {
  font-size: 2.1875rem;
  line-height: 1.2;
  margin-top: 27px;
  text-align: center;
  color: #fff;
}
h1 > span {
  color: #6173f4;
}
@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 90%;
  }
  .head__logo {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
