html {
  font-size: 75%;
}
.btn {
  padding: 11px 34px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 50px;
}
.head {
  padding-top: 30px;
  padding-bottom: 55px;
  background-color: #6173f4;
  background-image: url(../img/header__background.jpg);
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: cover;
}
.head__container {
  position: relative;
  width: auto;
  max-width: 1355px;
}
.head__logo {
  text-align: center;
}
.head__logo > span {
  font-size: 23px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  border-bottom: 3px solid #fff;
}
.head__desc {
  font-size: 1.0625rem;
  max-width: 645px;
  margin: 25px auto 0;
  text-align: center;
  color: #fff;
}
.head__action {
  margin-top: 30px;
  text-align: center;
}
.h-nav {
  text-align: center;
}
.h-nav > .h-nav__item {
  display: inline-block;
}
.h-nav > .h-nav__item > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #818288;
}
.h-nav > .h-nav__item > a:hover,
.h-nav > .h-nav__item > a:focus {
  color: #fff;
  background-color: transparent;
}
.h-nav > .h-nav__item_active > a {
  color: #fff;
  background-color: transparent;
}
h1 {
  font-size: 2.1875rem;
  line-height: 1.2;
  margin-top: 27px;
  text-align: center;
  color: #fff;
}
h1 > span {
  color: #6173f4;
}
h2 {
  font-size: 2.1875rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #313d49;
}
.how {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
}
.how__row {
  margin-top: 4.0625rem;
}
.how__ico {
  margin: 0 auto;
  border-radius: 4rem;
  background-color: #f3f4fe;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3.375rem;
  width: 8rem;
  height: 8rem;
}
.how__ico:hover {
  background-color: #e5e7fd;
}
.how__ico_smile {
  background-image: url(../img/how__ico-smile.png);
}
.how__ico_tube {
  background-image: url(../img/how__ico-tube.png);
}
.how__ico_doc {
  background-image: url(../img/how__ico-doc.png);
}
.how__title {
  font-size: 1.0625rem;
  margin-top: 1.6875rem;
  text-align: center;
  color: #313d49;
}
.how__inner {
  max-width: 360px;
  margin: 0 auto;
}
.how__item + .how__item {
  margin-top: 35px;
}
.how__action {
  margin-top: 30px;
  text-align: center;
}
.who {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
  background-color: #eeeef2;
}
.who__row {
  margin-top: 4.0625rem;
}
.who__item {
  height: 115px;
}
.who__ico {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 5rem;
  height: 3.5625rem;
}
.who__ico_phone {
  background-image: url(../img/who__ico-phone.png);
}
.who__ico_cloud {
  background-image: url(../img/who__ico-cloud.png);
}
.who__ico_taxi {
  background-image: url(../img/who__ico-taxi.png);
}
.who__ico_percent {
  background-image: url(../img/who__ico-percent.png);
}
.who__ico_truck {
  background-image: url(../img/who__ico-truck.png);
}
.who__ico_query {
  background-image: url(../img/how__ico-doc.png);
}
.who__title {
  font-size: 1.0625rem;
  line-height: 1.25;
  margin-top: 12px;
  text-align: center;
}
.result {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  background-color: #6173f4;
  /* Слайдер*/
  /* END <-- Слайдер */
}
.result__row {
  margin-top: 3.75rem;
}
.result__slider {
  margin-bottom: 2.3125rem;
}
.result .swiper-container-horizontal > .swiper-pagination {
  bottom: auto;
  left: 0;
  right: 0;
  top: 25px;
}
.result .swiper-container {
  padding-top: 5.75rem;
}
.result .swiper-slide {
  padding-left: 15px;
  padding-right: 15px;
}
.result .swiper-pagination-bullet-active {
  background: #fff;
}
.result .swiper-button-prev,
.result .swiper-button-next {
  width: 20px;
  height: 30px;
  background-size: 10px 15px;
  background-repeat: no-repeat;
  margin-top: 0;
  top: 19px;
}
.result .swiper-button-prev {
  left: 0px;
  background-position: left center;
  background-image: url(../img/slider-prev.png);
}
.result .swiper-button-next {
  right: 0px;
  background-position: right center;
  background-image: url(../img/slider-next.png);
}
.result .swiper-button-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.result .swiper-button-inner {
  position: relative;
  max-width: 360px;
  margin: auto;
}
.result h2 {
  color: #fff;
}
.result__item {
  margin-bottom: 2.3125rem;
}
.result__inner {
  border-radius: 4px;
  background-color: #fff;
  padding-bottom: 1.5rem;
  max-width: 360px;
  margin: auto;
}
.result__logo {
  height: 6.5625rem;
  border-bottom: 1px solid #e7e7e7;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17rem 5.3125rem;
}
.result__logo_uber {
  background-image: url(../img/result__logo-uber.jpg);
}
.result__logo_sber {
  background-image: url(../img/result__logo-sber.jpg);
}
.result__logo_mnogo {
  background-image: url(../img/result__logo-mnogo.jpg);
}
.result__logo_admitad {
  background-image: url(../img/result__logo-admitad.jpg);
}
.result__logo_taxi {
  background-image: url(../img/result__logo-gettaxi.jpg);
}
.result__logo_netologia {
  background-image: url(../img/result__logo-netologia.jpg);
}
.result__title {
  margin-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}
.result__desc {
  margin-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #7c8185;
}
.result__tool {
  margin-top: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.result__more {
  text-transform: uppercase;
  font-weight: 500;
}
.result__action {
  text-align: center;
}
.result__action .btn-trans {
  margin-top: 15px;
}
.youget {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  background-color: #6173f4;
  /* Слайдер*/
  /* END <-- Слайдер */
}
.youget__row {
  margin-top: 6.25rem;
}
.youget__slider {
  margin-bottom: 2.3125rem;
}
.youget .swiper-container-horizontal > .swiper-pagination {
  bottom: auto;
  left: 0;
  right: 0;
  top: 30px;
}
.youget .swiper-container {
  padding-top: 6.5rem;
}
.youget .swiper-slide {
  padding-left: 15px;
  padding-right: 15px;
}
.youget .swiper-pagination-bullet-active {
  background: #fff;
}
.youget .swiper-button-prev,
.youget .swiper-button-next {
  width: 20px;
  height: 30px;
  background-size: 10px 15px;
  background-repeat: no-repeat;
  margin-top: 0;
  top: 24px;
}
.youget .swiper-button-prev {
  left: 0px;
  background-position: left center;
  background-image: url(../img/slider-prev.png);
}
.youget .swiper-button-next {
  right: 0px;
  background-position: right center;
  background-image: url(../img/slider-next.png);
}
.youget .swiper-button-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.youget .swiper-button-inner {
  position: relative;
  max-width: 360px;
  margin: auto;
}
.youget h2 {
  color: #fff;
}
.youget__inner {
  max-width: 360px;
  margin: auto;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 156px 86px;
}
.youget__inner_cashback {
  background-image: url(../img/result__ico-cashback.png);
}
.youget__inner_twotree {
  background-image: url(../img/result__ico-twortree.png);
}
.youget__inner_boosting {
  background-image: url(../img/result__ico-grafik.png);
}
.youget__title {
  margin-top: 1.2rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  font-size: 16px;
  line-height: 1.2;
  color: #cad0ff;
  text-align: center;
}
.youget__title b {
  color: #fff;
  font-weight: 500;
}
.youget__action {
  margin-top: 4.25rem;
  text-align: center;
}
.btn-white {
  color: #6173f4;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white:focus,
.btn-white.focus {
  color: #6173f4;
  background-color: #e6e6e6;
  border-color: #bfbfbf;
}
.btn-white:hover {
  color: #6173f4;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  color: #6173f4;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}
.btn-white:active:hover,
.btn-white.active:hover,
.open > .dropdown-toggle.btn-white:hover,
.btn-white:active:focus,
.btn-white.active:focus,
.open > .dropdown-toggle.btn-white:focus,
.btn-white:active.focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white.focus {
  color: #6173f4;
  background-color: #d4d4d4;
  border-color: #bfbfbf;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white .badge {
  color: #ffffff;
  background-color: #6173f4;
}
.btn-trans {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.btn-trans:focus,
.btn-trans.focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #bfbfbf;
}
.btn-trans:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #e0e0e0;
}
.btn-trans:active,
.btn-trans.active,
.open > .dropdown-toggle.btn-trans {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #e0e0e0;
}
.btn-trans:active:hover,
.btn-trans.active:hover,
.open > .dropdown-toggle.btn-trans:hover,
.btn-trans:active:focus,
.btn-trans.active:focus,
.open > .dropdown-toggle.btn-trans:focus,
.btn-trans:active.focus,
.btn-trans.active.focus,
.open > .dropdown-toggle.btn-trans.focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #bfbfbf;
}
.btn-trans:active,
.btn-trans.active,
.open > .dropdown-toggle.btn-trans {
  background-image: none;
}
.btn-trans.disabled:hover,
.btn-trans[disabled]:hover,
fieldset[disabled] .btn-trans:hover,
.btn-trans.disabled:focus,
.btn-trans[disabled]:focus,
fieldset[disabled] .btn-trans:focus,
.btn-trans.disabled.focus,
.btn-trans[disabled].focus,
fieldset[disabled] .btn-trans.focus {
  background-color: transparent;
  border-color: #ffffff;
}
.btn-trans .badge {
  color: transparent;
  background-color: #ffffff;
}
.btn-contrast {
  color: #1b1f38;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-contrast:focus,
.btn-contrast.focus {
  color: #1b1f38;
  background-color: #e6e6e6;
  border-color: #bfbfbf;
}
.btn-contrast:hover {
  color: #1b1f38;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}
.btn-contrast:active,
.btn-contrast.active,
.open > .dropdown-toggle.btn-contrast {
  color: #1b1f38;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}
.btn-contrast:active:hover,
.btn-contrast.active:hover,
.open > .dropdown-toggle.btn-contrast:hover,
.btn-contrast:active:focus,
.btn-contrast.active:focus,
.open > .dropdown-toggle.btn-contrast:focus,
.btn-contrast:active.focus,
.btn-contrast.active.focus,
.open > .dropdown-toggle.btn-contrast.focus {
  color: #1b1f38;
  background-color: #d4d4d4;
  border-color: #bfbfbf;
}
.btn-contrast:active,
.btn-contrast.active,
.open > .dropdown-toggle.btn-contrast {
  background-image: none;
}
.btn-contrast.disabled:hover,
.btn-contrast[disabled]:hover,
fieldset[disabled] .btn-contrast:hover,
.btn-contrast.disabled:focus,
.btn-contrast[disabled]:focus,
fieldset[disabled] .btn-contrast:focus,
.btn-contrast.disabled.focus,
.btn-contrast[disabled].focus,
fieldset[disabled] .btn-contrast.focus {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-contrast .badge {
  color: #ffffff;
  background-color: #1b1f38;
}
.tarif {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  background: #1b1f38;
  color: #fff;
}
.tarif__row {
  margin-top: 3.75rem;
}
.tarif h2 {
  color: #fff;
}
.tarif__item + .tarif__item {
  margin-top: 20px;
}
.tarif__item_simple .tarif__title {
  color: #a3ff6b;
}
.tarif__item_advanced .tarif__title {
  color: #f8ec33;
}
.tarif__item_premium .tarif__title {
  color: #ff6666;
}
.tarif__inner {
  border-radius: 4px;
  border: 1px solid #41455a;
  padding-bottom: 2.125rem;
  max-width: 360px;
  margin: auto;
  position: relative;
}
.tarif__inner:hover {
  border-color: #fff;
}
.tarif__inner:hover .tarif__title {
  border-color: #fff;
}
.tarif__title {
  font-weight: 500;
  padding: 1.6rem 0;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #41455a;
  margin: 0 15px;
}
.tarif__list {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.tarif__param {
  padding: 0.5rem 15px;
}
.tarif__tool {
  text-align: center;
}
.smi {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  background-color: #eeeef2;
}
.smi__row {
  margin-top: 3.75rem;
}
.smi__item {
  font-size: 1.125rem;
}
.smi__item + .smi__item {
  margin-top: 24px;
}
.smi__inner {
  border-left: 1px solid #e1d4d5;
  padding-left: 0.9375rem;
  padding-top: 2.4375rem;
  background-image: url(../img/say__quote.png);
  background-repeat: no-repeat;
  background-size: 20px 14px;
  background-position: 0.9375rem 0;
}
.smi__name {
  display: inline-block;
  margin-top: 12px;
}
.contacts {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  color: #262e37;
}
.contacts__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 730px;
}
.contacts__row {
  margin-top: 3.75rem;
}
.contacts__title {
  font-size: 1.0625rem;
  text-align: center;
  color: #8e959c;
}
.contacts__email,
.contacts__tel {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
}
.contacts__col:last-child {
  margin-top: 20px;
}
.contacts__footer {
  text-align: center;
  font-size: 1.125rem;
  margin-top: 3.125rem;
  color: #b7b7b7;
}
.form {
  margin-top: 3.125rem;
  border-top: 1px solid #e9e9e9;
  padding-top: 1.875rem;
  text-align: center;
}
.form__form {
  max-width: 360px;
  margin: auto;
}
.form__title {
  text-align: center;
  font-size: 1.0625rem;
  color: #8e959c;
}
.form label {
  font-size: 1.0625rem;
  font-weight: 400;
}
.form .form-group {
  margin: 1.375rem 0;
}
.form__action {
  margin-top: 2.1875rem;
}
.form__error,
.form__success {
  font-size: 1.0625rem;
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .head {
    background-image: url(../img/header__background@2x.jpg);
  }
  .how__ico_smile {
    background-image: url(../img/how__ico-smile@2x.png);
  }
  .how__ico_tube {
    background-image: url(../img/how__ico-tube@2x.png);
  }
  .how__ico_doc {
    background-image: url(../img/how__ico-doc@2x.png);
  }
  .who__ico_phone {
    background-image: url(../img/who__ico-phone@2x.png);
  }
  .who__ico_cloud {
    background-image: url(../img/who__ico-cloud@2x.png);
  }
  .who__ico_taxi {
    background-image: url(../img/who__ico-taxi@2x.png);
  }
  .who__ico_percent {
    background-image: url(../img/who__ico-percent@2x.png);
  }
  .who__ico_truck {
    background-image: url(../img/who__ico-truck@2x.png);
  }
  .who__ico_query {
    background-image: url(../img/how__ico-doc@2x.png);
  }
  .result .swiper-button-prev {
    background-image: url(../img/slider-prev@2x.png);
  }
  .result .swiper-button-next {
    background-image: url(../img/slider-next@2x.png);
  }
  .result__logo_uber {
    background-image: url(../img/result__logo-uber@2x.jpg);
  }
  .result__logo_sber {
    background-image: url(../img/result__logo-sber@2x.jpg);
  }
  .result__logo_mnogo {
    background-image: url(../img/result__logo-mnogo@2x.jpg);
  }
  .result__logo_admitad {
    background-image: url(../img/result__logo-admitad@2x.jpg);
  }
  .result__logo_taxi {
    background-image: url(../img/result__logo-gettaxi@2x.jpg);
  }
  .result__logo_netologia {
    background-image: url(../img/result__logo-netologia@2x.jpg);
  }
  .smi__inner {
    background-image: url(../img/say__quote@2x.png);
  }
}
@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
  .btn {
    padding: 14px 34px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 50px;
  }
  .head {
    padding-top: 45px;
    padding-bottom: 8.3125rem;
  }
  .head__desc {
    margin: 2.8125rem auto 0;
  }
  .head__action {
    margin-top: 4.6875rem;
  }
  h1 {
    margin-top: 6.625rem;
  }
  .how__item + .how__item {
    margin-top: 0;
  }
  .how__action {
    margin-top: 5.3125rem;
  }
  .who__item {
    height: 11.5625rem;
  }
  .who__title {
    margin-top: 1.25rem;
  }
  .result__inner {
    position: relative;
    height: 300px;
  }
  .result__tool {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.2rem;
  }
  .result__action .btn-trans {
    margin-top: 0;
    margin-left: 15px;
  }
  .youget__title {
    font-size: 1.125rem;
  }
  .youget__action {
    margin-top: 6.25rem;
  }
  .btn {
    font-weight: 500;
    font-size: 17px;
  }
  .tarif__item {
    padding-left: 13px;
    padding-right: 13px;
  }
  .tarif__item + .tarif__item {
    margin-top: 0px;
  }
  .tarif__inner {
    height: 440px;
  }
  .tarif__list {
    font-size: 18px;
  }
  .tarif__tool {
    position: absolute;
    left: 0;
    bottom: 33px;
    right: 0;
  }
  .smi__item + .smi__item {
    margin-top: 0px;
  }
  .contacts__col:last-child {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 90%;
  }
  .head__logo {
    position: absolute;
    left: 15px;
    top: 0;
  }
  .result__desc {
    font-size: 0.9375rem;
  }
  .result__more {
    font-size: 0.9375rem;
  }
  .result__inner {
    height: 342px;
  }
  .youget__title {
    padding-left: 2.95rem;
    padding-right: 2.95rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  .result__inner {
    height: 370px;
  }
  .tarif__container {
    width: 1000px;
  }
}
